name: Auto-label merge conflicts

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"

# limit permissions
permissions:
  contents: read
  pull-requests: write

jobs:
  conflicts:
    runs-on: ubuntu-latest

    steps:
      - uses: mschilde/auto-label-merge-conflicts@v2.0
        with:
          CONFLICT_LABEL_NAME: conflicts
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"